# WebSocket server
VITE_WS_URI=wss://api.air-alert.pp.ua/ADB9004C-7C71-495F-8F3C-D69830B81597,wss://ws.air-alert.pp.ua/ADB9004C-7C71-495F-8F3C-D69830B81597

# Vector tiles style
VITE_STYLE_URI=https://api.maptiler.com/maps/streets/style.json?key=demo

# WebSocket server port
PORT=5000

# Redis store
REDIS_URI=redis://localhost

# Telegram application credentials
API_ID=1111111111
API_HASH=ffffffffffffffffffffffffffffffff